@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #171717;
  --font-agdasima: 'Agdasima', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-agdasima);
  --font-mono: var(--font-agdasima);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-agdasima), Arial, Helvetica, sans-serif;
}

.rules-text {
  color: #222 !important;
}
